body {
    background-color: #fffdd0;
}

.h {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

table tr td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #29053a;
    font-weight: bold;
}

button {
    border: black solid;
    border-radius: 1em;
    background: blueviolet;
    font-family: cursive;
    color: #fffdd0;
}

#resultado {
    font-weight: bold;
    font-family: inherit;
}

#multi {
    font-weight: bold;
    font-size: 2em;
    font-family: serif;
    ;
}