@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background: url(../img/jumbotron.jpg);
    margin: 0px;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.nav-item {
    margin-left: 8px;
}

hr {
    visibility: hidden;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: rgba(30, 30, 34, 0.87);
}

.rodape {
    background-color: #1a1a1a;
}

.sobre {
    background-color: rgb(36, 59, 87);
    width: 100%;
}

.jumbotron-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

p {
    margin: 0px;
}

.jumbotron-fluid h2 {
    padding-top: 20px;
}

.jumbotron-fluid p {
    padding-bottom: 10px;
}

.formacoes {
    background-color: black;
}