.jumbotron {
    background: url(../img/jumbotron.jpg);
    margin: 0px;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.navbar {
    background-color: rgba(30, 30, 34, 0.87);
}

.rodape {
    background-color: #1a1a1a;
}

a.botoes-navbar {
    color: #fff;
    margin-left: 1rem;
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

a.botoes-navbar:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nfour;
}

a.botoes-navbar:hover:before {
    right: 0%;
    left: auto;
    width: 100%;
}

a.botoes-navbar:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.sobre {
    background-color: rgb(44, 62, 80);
    padding: 45px;
}