body {
    text-align: justify;
}

.jumbotron {
    background: url(../img/jumbotron.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding-top: 16rem;
    padding-bottom: 16rem;
}

@media (max-width:600px) {
    .jumbotron {
        background-size: 100vh;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
    }
}

.navbar {
    background-color: rgba(30, 30, 34, 0.87);
}

.rodape {
    background-color: #1a1a1a;
}

.botao-navbar {
    margin-left: 15px;
    margin-bottom: 10px;
}

a.botoes-navbar {
    color: #fff;
    margin-left: 1rem;
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

a.botoes-navbar:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nfour;
}

a.botoes-navbar:hover:before {
    right: 0%;
    left: auto;
    width: 100%;
}

a.botoes-navbar:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

#sobre {
    background-color: rgb(44, 62, 80);
    padding: 15px;
}

.conquistas {
    color: rgb(54, 75, 95);
}

ul li :nth-child(1) {
    text-decoration: none;
}

.ard {
    background: linear-gradient(to left, rgb(204, 215, 230), rgb(177, 201, 235));
}

.img-etechday {
    height: 20rem;
    width: 20rem;
}

#portfolio {
    background-color: rgb(243, 243, 243);
}

.foto-video {
    padding: 0.25rem;
}

.modal-body {
    padding: 25px;
}

.modal-fim {
    padding: 7px;
}