body {
    background: #333;
}

.grade {
    width: 720px;
    height: 720px;
    padding-right: 30px;
}

.pixel {
    border: white 1px solid;
    width: 45px;
    height: 45px;
    float: left;
}

.btn-voltar {
    font-size: 1.5em;
}

.paleta {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 3px solid white;
}

.paleta-cores {
    width: 144px;
}