body {
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rodape-2 {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030
}

.area-resultado {
    border: black solid 3px;
    height: 23.725rem;
    background-color: rgba(255, 255, 255, 0.904);
}

h2 {
    text-decoration: underline;
    text-align: center;
}

.titulo {
    font-weight: 700!important
}

.area-calculo {
    border: black solid 3px;
    height: 23.725rem;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.904);
}

p {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
}

.rodape,
.cabecalho {
    background-color: #1a1a1a;
}

.fim {
    padding-bottom: 8px;
    padding-top: 8px;
}

.meio {
    margin-bottom: -16px;
    margin-bottom: -4px;
}

.comeco {
    margin-top: -9px;
}

input {
    text-align: center;
    width: 50px;
    height: 35px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.formula {
    padding: 5px;
    border: 1px solid #dee2e6;
    width: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.7);
    font-size: 25px;
    font-weight: bold;
    height: 100%;
}

.emoji {
    text-align: center;
    font-size: 23px;
}

h5 {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.invisivel {
    display: none;
}

#botao {
    display: none;
}

.formula-xis {
    padding: 10px;
    border: 1px solid #dee2e6;
    width: 92%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.7);
    font-size: 25px;
    height: calc(100% - 23%);
    font-weight: bold;
    margin-right: 3%;
    margin-left: 3%;
}

.seta {
    font-size: 30px;
}

.divisores {
    border-top: 2px solid black;
}

.resposta-formulacao {
    font-size: 25px;
    font-weight: bold;
}

.linhas {
    font-size: 18px !important;
    font-weight: bold !important;
}

#fracao-x1,
#fracao-x2 {
    border-top: 1px black solid;
}

#caixas,
#caixas-2 {
    margin-top: 2.75rem;
    width: auto;
    text-align: center;
}

#resultado-a,
#resultado-b,
#resultado-c,
#resultado-delta,
#resultado-delta-raiz {
    width: auto;
    text-align: center;
}

@media (max-width:600px) {
    .resultados-legenda {
        margin-top: 1rem !important;
    }
    .rodape-2 {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
}

#resultado-a6,
#resultado-b7,
#resultado-c8 {
    padding: 5px;
}

.invisivel2 {
    display: none !important;
}

@media (max-width:800px) {
    .secao2-res {
        margin-top: 1rem !important;
    }
}

.resultados-responsivel {
    padding-left: 18px;
    padding-bottom: 15px;
    padding-top: 12px;
}

input:focus {
    background-color: #e6fcea !important;
}

.resultados-responsivel2 {
    padding-bottom: 15px;
    padding-right: 1.875rem;
    padding-left: 15px;
    padding-top: 12px;
}

.xizes {
    font-size: 18px;
}