.area-resultado {
    border: black solid 3px;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

.area-calculo {
    border: black solid 3px;
    height: 23.125rem;
    padding-left: 15px;
    padding-right: 10px;
}

p {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
}

.divisor {
    border-top: 2px black solid;
}

input {
    text-align: center;
    width: 50px;
    height: 35px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus {
    background: #94dbff;
}

.formula {
    padding: 5px;
    border: 1px solid #dee2e6;
    width: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.7);
    font-size: 25px;
    font-weight: bold;
    height: 100%;
}

@media (max-width:775px) {
    .resultado {
        margin-top: 1rem;
    }
}

.emoji {
    text-align: center;
    font-size: 23px;
}

h5 {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.invisivel {
    display: none;
}

#botao {
    display: none;
}

.formula-xis {
    padding: 10px;
    border: 1px solid #dee2e6;
    width: 92%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.7);
    font-size: 25px;
    height: calc(100% - 23%);
    font-weight: bold;
    margin-right: 3%;
    margin-left: 3%;
}

.seta {
    font-size: 29px;
}

.resposta-formulacao {
    font-size: 25px;
    font-weight: bold;
}

.linhas {
    font-size: 18px !important;
    font-weight: bold !important;
}

#fracao-x1,
#fracao-x2 {
    border-top: 1px black solid;
}

#caixas {
    margin-top: 2.75rem;
}